Skip to content
Search or jump to…
Pull requests
Issues
Marketplace
Explore
 
@Joaopsguimaraes 
Joaopsguimaraes
/
dashgo-chakraui
Public
Code
Issues
Pull requests
Actions
Projects
Wiki
Security
Insights
Settings
dashgo-chakraui/.gitignore
@Joaopsguimaraes
Joaopsguimaraes Initial commit from Create Next App
Latest commit 1bddfb0 25 days ago
 History
 1 contributor
35 lines (26 sloc)  371 Bytes

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
© 2022 GitHub, Inc.
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
Loading complete